<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

<!-- parkとarea
  <div class="field">
    <%= form.label :park %>
    <%= form.collection_select :park_id, Park.all, :id, :name, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.collection_select :area_id, Area.all, :id, :name, :include_blank => true %>
  </div> -->

  <div class="field">
    <%= form.label :park %>
    <%= form.collection_select :park_id, Park.all, :id, :name,  {prompt: "パークを選択してください"}, {class: 'park'} %>
  </div>


  <div class="field">
    <%= form.label :area %>
    <%= form.select :area_id, options_for_select(Area.all.map{|area|[area[:name], area[:id], {'data-val'=>area[:park_id]}]}), {prompt: "エリアを選択してください"}, {class: 'area'} %>
  </div>

  <div class="field">
    <%= form.hidden_field :address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: "lat" %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: "lng" %>
  </div>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  <div class="field">

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script type="text/javascript">

  var $areas = $('.park'); //都道府県の要素を変数に入れます。
  var options = $('.area').find("option");

  $('.park').change(function() {

      //エリアセレクトの初期化
    $.each(options,function(index,value){
      $(value).removeAttr("selected");
      if($(value).data("val") == "default"){
          $(value).attr("selected","selected");
      }
      $(value).show();
    });

    //選択されたパークのvalueを取得し変数に入れる
    var val1 = $(this).val();

    //エリア選択肢カウンタ
    var option_count = 0;
    //エリア選択肢が１つだったとき用の保存変数
    var option_select = "";

      //エリア選択肢の表示切り替え
    $.each(options,function(index,value){
      var area_option = $(value);
      if(area_option.data("val") == "default"){
        //初期値選択肢用（-- エリア --）
        area_option.attr("selected","selected");
      }else if(area_option.data("val") == val1){
        //選択されたパークに当てはまる場合はカウントを増やし、option_selectに格納
        option_count++;
        option_select = area_option;
      }else{
        //選択されたパークにあてはまらない場合は、隠す
        area_option.hide();
      }
    });

    //エリアの選択肢が１つしかない場合は、自動的に選択された状態に変更
    if(option_count == 1){
      option_select.attr("selected","selected");
    }

    //エリアセレクトを選択可能に
    $('.area').prop("disabled", false);

  });

</script>
