<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <% if controller.action_name == 'new' %>

  <div class="field">
    <%= form.label :park %>
    <%= form.collection_select :park_id, Park.all, :id, :name,  {prompt: "パークを選択してください"}, {class: 'new-park'} %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.select :area_id, options_for_select(Area.all.map{|area|[area[:name], area[:id], {'data-val'=>area[:park_id]}]}), {prompt: "エリアを選択してください"}, {class: 'new-area'} %>
  </div>

  <% else %>

  <div class="field">
    <%= form.label :park %>
    <%= form.collection_select :park_id, Park.all, :id, :name, {selected: place.area.park.id}, {class: 'edit-park'} %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.select :area_id, options_for_select(Area.all.map{|area|[area[:name], area[:id], {'data-val'=>area[:park_id]}]}, {selected: place.area_id}), {}, {class: 'edit-area'} %>
  </div>

  <% end %>

  <div class="field">
    <%= form.hidden_field :address %>
  </div>

  <div class="field">
    <%= form.hidden_field :latitude, id: "lat" %>
  </div>

  <div class="field">
    <%= form.hidden_field :longitude, id: "lng" %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if controller.action_name == 'new' %>
  <%= javascript_include_tag 'new-place.js' %>
<% else %>
  <%= javascript_include_tag 'edit-place.js' %>
<% end %>
