<p id="notice"><%= notice %></p>

<p>
  <strong>名称</strong>
  <%= @place.name %>
</p>

<p>
  <strong>紹介文</strong>
  <%= @place.description %>
</p>

<p>
  <strong>エリア</strong>
  <%= @place.area.name %>
</p>

<p>
  <strong>緯度</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>経度</strong>
  <%= @place.longitude %>
</p>

<div class="image">
  <% if @place.images.attached? %>
    <% @place.images.each do |image| %>
      <%= image_tag image, class: :photo %> <br>
    <% end %>
  <% end %>
</div>


<%= link_to '編集する', edit_place_path(@place) %> |
<%= link_to '一覧に戻る', places_path,  data: {"turbolinks" => false} %>

<div id="map" style="width: 800px; height: 400px;"></div>

<script src="//maps.google.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :api_key) %>&callback=initShowMap" async defer></script>
