<!DOCTYPE html>
<html>
  <head>
    <title>DisneySpot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to 'D-Spots', '#' %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '登録', '#', class: 'text-black' %>
          </li>
          <li>
            <%= link_to 'ログイン', '#', class: 'text-black' %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
