<!DOCTYPE html>
<html>
  <head>
    <title>DisneySpot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>

  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container">
        <%= link_to 'D-Spots', root_path %>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'My投稿', places_myplace_path, class: "btn btn-dark" %>
            </li>
            <li>
              <%= link_to 'プロフィール変更', edit_user_registration_path %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to '登録', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'ログイン', new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>

  </body>
</html>
